*{
    background-color: rgb(2, 2, 2);
    color:rgb(200, 198, 198);
    box-sizing: border-box;

   

}



span {
    margin: 15px;
}

.boton-delete {
    min-height: 30px;
    min-width: 30px;
    
}