
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(2, 2, 2);
    justify-content: center;
}

main {
    margin-left: 10%; margin-right: 10%;
    background-color: rgb(28, 28, 28);
    width: 100%;
    min-height: 90vh;
}

.section-movie-edit {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.div-span-descripcion {
    margin: 15px;
    width: 10%;
    min-width: 10%;
}

input {
    width: 50%;
    min-width: 50%;
    background-color: rgb(42, 42, 42);
    margin-top: 10px; margin-bottom: 10px;
}

span {
    margin: 15px;
}

fieldset {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px; padding-bottom: 10px;
}

.div-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.boton-guardar {
    margin: 10px;
    padding: 10px;
    color: rgb(42, 42, 42);
    font-weight: 1.2px;
}