<%- include("./includes/head") %>


<body>
<%- include("./includes/header") %>
<main>      
    <%- include("./includes/errors") %>    
        <form action="/movie/create"  method="post"> 
            <section class="section-movie-edit">
                <fieldset>
                    <div class="div-span-descripcion"><label for="title">Titulo</label></div>
                        <input type="text" name="title" id="title" placeholder="title">
                </fieldset>
                <fieldset>
                    <div class="div-span-descripcion"><label for="rating">rating</label></div>
                        <input type="text" name="rating" id="rating" placeholder="rating">
                </fieldset>
                <fieldset>
                    <div class="div-span-descripcion"><label for="rating">Fecha estreno</label></div>
                        <input type="date" name="release_date" id="release_date" placeholder="Fecha estreno">
                </fieldset>
                <fieldset>
                    <div class="div-span-descripcion"><label for="awards">Awards</label></div>
                        <input type="text" name="awards" id="awards" placeholder="awards">
                </fieldset>
                <fieldset>
                    <div class="div-span-descripcion"><label for="length">Duracion</label></div>
                        <input type="text" name="length" id="length" placeholder="Duracion"">
                </fieldset>
                <fieldset>
                    <div class="div-span-descripcion"><label for="genre_id">Duracion</label></div>
                        <input type="genre_id" name="genre_id" id="genre_id" placeholder="ID Genero">
                </fieldset>
            </section>
            <div class="div-button"><button class="boton-guardar" type="submit" id="button">
                CREAR
            </button></div>        
        </form>
</main>  

</body>
</html>