<%- include("./includes/head") %>


<body>
    <%- include("./includes/header") %>
<main>
    <%- include("./includes/errors") %>
        <form action="/register"  method="post"> 
            <section class="section-movie-edit">
                <fieldset>
                    <div class="div-span-descripcion"><label for="title">Nombre</label></div>
                        <input type="text" name="name" id="name" placeholder="Nombre">
                </fieldset>
                <fieldset>
                    <div class="div-span-descripcion"><label for="rating">Email</label></div>
                        <input type="text" name="email" id="email" placeholder="Email">
                </fieldset>
                <fieldset>
                    <div class="div-span-descripcion"><label for="rating">Password</label></div>
                        <input type="password" name="password" id="password" placeholder="Password">
                </fieldset>
                <fieldset>
                    <div class="div-span-descripcion"><label for="awards">Password</label></div>
                        <input type="password" name="password2" id="password2" placeholder="Password">
                </fieldset>
            </section>
            <div class="div-button"><button class="boton-guardar" type="submit" id="button">
                CREAR USUARIO
            </div></button>         
        </form>  
    </main>
</body>
</html>